<%= link_to "Back", "/admin/show/" + session[:user_name] %>
<font color="blue"><%= link_to "Logout", logout_path,method: "delete" %></font>
<br/><br/> 
<% if @req_book.present? %>
  <h1><u>Book Requested List</u></h1>
    <table border="1">
        <tr>    
            <td> ISNB    </td>
            <td> TITLE   </td>
            <td> AUTHOR </td> 
            <td> DESCRIPTION   </td>
            <td> Accept </td>
            <td> Reject </td>    
        </tr>           
        <%@req_book.each do |p|%>
      <tr>            
          <td> <%= p.isbn %> </td>
            <td> <%= p.title %> </td>
            <td> <%= p.author %> </td>
            <td> <%= p.description %></td>
            <td> <%= link_to 'Accept', '/book/hndl_bk_req/' + session[:user_name] + '?type=A&isbn=' + p.isbn%> </td>
            <td> <%= link_to 'Reject', '/book/hndl_bk_req/' + session[:user_name] + '?type=R&isbn=' + p.isbn%> </td>
        </tr>           
        <%end%>  
    <% else %>
        <h2><p>No Requested Book in the Library :).</p></h2>
    <% end %>
