<%= link_to "Back", "/admin/show/" + session[:user_name] %>
<font color="blue"><%= link_to "Logout", logout_path,method: "delete" %></font>
<br/><br/> 
<h2>Book List in the Library </h2>
<% if @book_list.present? %>
	<h1>Patrons List</h1>
    <table border="1">
        <tr>    
            <td> ISBN </td>
            <td> TITLE     </td>
            <td> AUTHORS   </td>
            <td> DESCRIPTION   </td>    
            <td> STATUS </td>
            <td>Delete</td>
            <td> View Who Checked Out </td> 
        </tr>           
        <%@book_list.each do |p|%>
 	    <tr>            
        	<td> <%= p.isbn %> </td>
            <td> <%= p.title %> </td>
            <td> <%= p.authors %> </td>
            <td> <%= p.description%></td>
            <td> <%= p.status %></td>
            <td> <% if p.status == "Available"%>
            		<a href="#" 
               			onclick="warning_prompt_book_delete('<%= session[:user_name]%>','<%= p.isbn %>')">
               			Delete
               		</a>
               		<% else %>
                    Delete
                    <%end%>
            </td>     
            <td> <%= link_to "View Who Checkout " ,"/admin/checked_out_book_list/" + 
            session[:user_name] + "?isbn=" + p.isbn unless p.status == "Available"%> </td>
        </tr>           
        <%end%>  
		<% else %>
  			<p>No Book in the Library :(.</p>
		<% end %>