<%= form_for(@user,url: "/user/create/",:user_name => session[:user_name]) do |f| %>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id %>
  </div>
  <div class="actions">
  <input type="hidden" name="user_name" value=<%= session[:user_name]%>>
    <%= f.submit %>
  </div>
<% end %>
