        <h1>Welcome User <%= session[:user_name] %> to search books</h1>
        <%= link_to "Back", "/user/show/" + session[:user_name] %>
        <font color="blue"><%= link_to "Logout", logout_path,method: "delete" %></font>
        <br/><br/>       
        <font color="black"><b>Search Books</b></font>
		<%= form_tag "/user/search/" + session[:user_name], :method => 'get' do %>
  			<p>
    		<%= text_field_tag :search_key, params[:search]%>
    		<br/>	
    		<%= radio_button_tag(:search_type, %Q(isbn),:checked =>true) %>
  	      	<%= label_tag(:user_check,%Q(ISBN)) %> 
    	    <%= radio_button_tag(:search_type, %Q(author)) %>
        	<%= label_tag(:user_check,%Q(AUTHOR)) %>
        	<%= radio_button_tag(:search_type, %Q(title)) %>
        	<%= label_tag(:user_check,%Q(TITLE)) %>
        	<%= radio_button_tag(:search_type, %Q(description)) %>
        	<%= label_tag(:user_check,%Q(DESCRIPTION)) %>
        	<%= radio_button_tag(:search_type, %Q(available)) %>
        	<%= label_tag(:user_check,%Q(AVAILABLE)) %><br/><br/>
    		<%= submit_tag "Search", :name => nil %>
  			</p>
		<% end %>
		<br/><br/>
		<% if @books.present? %>
            <h1>Search result:</h1>
            <table border="1">
            <tr>    
                <td> ISBN </td>
                <td> TITLE </td>
                <td> AUTHORS </td>
                <td> DESCRIPTION </td>
                <td> STATUS </td>    
                <td>Activity</td> 
            </tr>           
            <%@books.each do |book|%>
 	        <tr>            
        	    <td> <%= book.isbn %> </td>
                <td> <%= book.title %> </td>
                <td> <%= book.authors %> </td>
                <td> <%= book.description %> </td>
                <td> <%= book.status %> </td>
                <input type="hidden" name="user_name" value=<%= session[:user_name]%>>
                <% if book.status=='Available' %>
                <td><%= link_to 'Check out book', "/user/checkout/" + session[:user_name] + "?isbn=" + book.isbn %></td>
                <%else%>
                    <% if @requests.any?{|request| request.isbn==book.isbn} %>
                    <td> notification requested </td>
                    <%else%>
                <td><%=link_to 'Request a notification', "/request/new/" + session[:user_name]%> </td>
                    <%end%>
                <%end%>
               </tr>           
            <%end%>  
                <% else %>
  			<p>No book match your results <%= params[:search] %>.</p>
		<% end %>
